* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

:root {
  /* font-size: 16px;  valor padrão do browser */
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  background-color: #1a1924;
  font-size: 1.6rem;
  height: 100vh;
  overflow: hidden;
  color: #e1e1e6;
}